name: Deploy to GitHub Pages

on:
  push

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with: 
          repository: dreamcatcher-tech/dreamcatcher-stack
          # Pull only the latest released version
          ref: refs/tags/v1.0.43
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
      - run: ls
      - run: pwd

      - name: Install
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build
        env: 
          NODE_OPTIONS: --max-old-space-size=8192

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          cname: hamr.dreamcatcher.land